.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0; /* hidden */
  transition: 300ms;
}

.sidebar-list-active {
  height: 300px;
}

.sidebar-list-item {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  list-style: none;
}
